.monitoreo {
  text-align: center;
}

.camera-section {
  margin-top: 20px;
}

.camera-feed img {
  width: 100%;
  max-width: 800px;
  height: auto; /* Mantén la relación de aspecto */
  border: 2px solid #4caf50;
  border-radius: 8px;
  object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
}

.sensor-data {
  margin-top: 20px;
  font-size: 1.2em;
}

.irrigation-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #119238;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.irrigation-btn.on {
  background-color: #ee1616;
}
